__pycache__/
*.pyc
.cache/
var/
frontend/node_modules/
dist/
build/
*.egg-info/
.coverage
htmlcov/
models/**/*.h5
models/**/*.state.json

# never commit these
dataset/
.env
*.db
models/**/*.joblib

mlruns/
